<%- include("partials/header.ejs") %>
<div class="container">
  <div class="arrow1">
    <a href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-arrow-left-square-fill"
        viewBox="0 0 16 16"
        style="color: #ebeef5"
      >
        <path
          d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"
        />
      </svg>
    </a>
  </div>
  <div class="flex-container">
    <div class="div-h1">
      <h1>Create Post</h1>
    </div>
    <form class="form" action="/create" method="post">
      <input
        class="input input1"
        type="text"
        name="title"
        placeholder="Title"
      />
      <input
        class="input input2"
        type="text"
        name="content"
        placeholder="Content"
      />
      <button class="submit button" type="submit">Confirm</button>
    </form>
  </div>
</div>
<%- include('partials/footer.ejs') %>
